# Dependencies
node_modules/

# Docusaurus
.docusaurus/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
